html,
body {
    height: 100%;
}

body {
    background-color: #eeeeee;
    padding-top: 40px;
    padding-bottom: 40px;
}

main.login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

main.panel {
    display: none;
    height: 100%;
}

main.panel>.row:nth-child(1) {
    height: 5%;
}
main.panel>.row:nth-child(2) {
    height: 95%;
}

button.btn-primary,button.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #7C0D82;
    border-color: white;
}

button.btn-primary:hover{
    background-color: #b413bd;
    border-color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
