# NOTE: this file should be removed in production, as configuration
# should be made on the server. Just for development environment.
RewriteEngine On

# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

# Redirect /whatever to index.php
RewriteCond %{REQUEST_URI} !/index.php\/?$
RewriteRule ^\/?.+\/?$ "/index.php" [QSA,L,NC]

#UTF-8
AddDefaultCharset UTF-8