body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(white, #c0cbe0);
    font-family: sans-serif;
    user-select: none;
}

/* nav and container-fluid should sum up to 100vh */
nav {
    height: 10vh;
    min-height: 50px;
}
.container-fluid {
    height: 90vh;
    max-height: calc(100vh - 50px);
}

body.noNav nav {
    display: none;
}

body.noNav .container-fluid {
    height: 100vh;
    max-height: unset;
}