html {
    margin: 0;
    padding: 0;
    /** 100vh so in chrome it allows to scroll **/
    height: 100vh;
    width: 100%;
}

button {
    display: block;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    box-shadow: 0.2em 0.2em 0.2em 0 rgba(0,0,0,.3);
}

button svg {
    display: block;
    margin: auto;
}

button:active {
    filter: brightness(0.8);
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(white, #c0cbe0);
    font-family: sans-serif;
    user-select: none;
    /** position needs to be fixed and height 100% so in chrome mobile
    the size of children is the correct. **/
    height: 100%;
    width: 100%;
    position: fixed;
}

/* nav and container-fluid should sum up to 100vh */
nav {
    height: 10%;
    min-height: 50px;
}
.container-fluid {
    height: 90%;
    max-height: calc(100vh - 50px);
}

body.noNav nav {
    display: none;
}

body.noNav .container-fluid {
    height: 100%;
    max-height: unset;
}