.container-fluid {
    overflow-y: auto;
    padding: 20px;
}

/*
@media (min-width:992px){
    .container-fluid {
        width: 70vw;
    }
}

@media (min-width:1200px){
    .container-fluid {
        width: 50vw;
    }
}*/