.grid-page-main {
    height: 100%;
    margin-right: 0;
    margin-left: 0;
}

.grid-page-main .btn {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    min-height: 16vmax;
    -webkit-transition: width 500ms, height 500ms; /* Safari */
    transition: width 500ms, height 500ms;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.grid-page-main .btn:active {
    filter: brightness(0.8);
}