.item-row {
    font-weight: bold;
    margin-bottom: 3em;
}

.item-icon {
    text-align: center;
}

.item-icon img{
    max-width: 100%;
    max-height: 100%;
}

.item-row h3 {
    margin: 0;
}

.item-addr {
    margin: 0;
    user-select: text;
}

.item-cost-lang {
    margin: 0.5em 0;
}

.item-cost-lang img {
    height: 1.5em;
}

.item-link {
    color: #7C0D82;
    text-decoration: none;
}

.item-link span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 2em);
}

.item-link svg {
    width: 1em;
    position: relative;
    bottom: 0.2em;
}

.item-periods {
    margin: 0;
}

a.item-call {
    text-decoration: none;
    color: black;
    display: block;
}

.item-call svg {
    height: 0.8em;
}

.item-map, #all-items-map {
    color: white;
    text-transform: uppercase;
    background-color: #7C0D82;
    border: none;
    font-weight: bold;
    margin-top: 0.5em;
    cursor: pointer;
    width: 100%;
}

.item-map {
    border-radius: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    max-width: 17em;
    border: 0.1em solid #6A3D57;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.item-map:active {
    filter: brightness(0.8);
}

.item-map svg {
    height: 1em;
    float: right;
    margin-right: 0.5em;
}

#all-items-map {
    padding: 1em 0;
    border-radius: 2em;
    background: #7C0D82 no-repeat center;
    background-size: contain;
    width: 80vw;
    height: 17.6vw;
    margin: auto;
    border: 0.5vw solid #6A3D57;
}