.item-row {
    font-weight: bold;
    margin-bottom: 3em;
}

.item-icon {
    text-align: center;
}

.item-icon img{
    max-width: 100%;
    max-height: 100%;
}

.item-row h3 {
    margin: 0;
}

.item-addr {
    margin: 0;
    user-select: text;
}

.item-cost-lang {
    margin: 0.5em 0;
}

.item-cost-lang img {
    height: 1.5em;
}

.item-link {
    color: #7C0D82;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: .25em;
}

.item-link span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-link svg {
    width: 1em;
    height: 1em;
    min-width: 1em;
    min-height: 1em;
    margin-left: 0.2em;
}

.item-periods {
    margin: 0;
}

a.item-call {
    color: black;
    display: block;
}

.item-call svg {
    height: 0.8em;
}

.item-map, #all-items-map {
    color: white;
    text-transform: uppercase;
    background-color: #7C0D82;
    font-weight: bold;
    margin: 0.5em 1% 0 1%; /*margin-top: 0.5em when one*/
    float: left; /* remove when one */
}

.item-map {
    border-radius: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    width: 48%;
    max-width: 17em;
    border: 0.1em solid #6A3D57;
}

.item-map svg {
    height: 1em;
    float: right;
    margin-right: 0.5em;
}

.map-button-google {
    background-color: #fff !important;
    color: #7C0D82 !important;
}

#all-items-map svg {
    max-height: 100%;
    max-width: 100%;
}

#all-items-map {
    padding: 1em 0;
    border-radius: 2em;
    background: #7C0D82 no-repeat center;
    background-size: contain;
    width: 80vw;
    height: 17.6vw;
    margin: auto;
    border: 0.5vw solid #6A3D57;
}