.map-container {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.map-instructions {
    width: 100%;
    max-height: 60vh;
    position: absolute;
    bottom: -60vh;
    background-color: white;
    border-top: 3px solid #7C0D82;
    z-index: 30;
    overflow-y: scroll;
    transition: bottom 1s ease 0s;
}

.map-instructions ul#dir-pan-travel-types {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #212121;
}

.map-instructions ul#dir-pan-travel-types li {
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}

.map-instructions ul#dir-pan-travel-types svg {
    max-height: 1.25em;
}

.map-instructions ul#dir-pan-travel-types li {
    border-radius: 0.5em;
    margin: 1vw;
}

.map-instructions ul#dir-pan-travel-types li.active {
    background-color: #7C0D82;
}

.map-instructions button#dir-pan-start-btn {
    width: calc(100% - 0.6em);
    background-color: #7C0D82;
    color: white;
    border: none;
    border-radius: 1em;
    padding: 0.3em;
    margin: .3em .3em 0 .3em;
}

#dir-pan-travel-zero-results svg {
    max-height: 1em;
}

#dir-pan-travel-zero-results {
    margin: 1em;
    background-color: #BC0D02;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 0.5em;
    padding: 1em;
}

@keyframes error-twinkle {
    from {opacity: 0;}
    to {opacity: 1;}
}

.map-geolocation-error {
    display: none;
}

.map-geolocation-error.show {
    display: block;
    position: fixed;
    z-index: 20;
    width: 4em;
    height: 4em;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.5em;
    top: 100%;
    left: 0;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-top: -7em;
    /*Animation*/
    animation: error-twinkle 2s ease 0s infinite alternate;
}

.map-geolocation-error .fa-map-marker-alt {
    width: 2em;
    height: 2em;
    position: absolute;
    color: white;
    top: 1em;
    left: 1em;
}

.map-geolocation-error .fa-ban {
    position: absolute;
    width: 3em;
    height: 3em;
    color: red;
}

/* INFORMATION WHEN CLICKING A MARKER */
b.marker-title {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.marker-icon {
    width: 6em;
    height: 6em;
    margin: 1em auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
}

.marker-icon img {
    display: block;
    max-width: 6em !important; /* needs important cause google style replaces it */
    max-height: 6em;
}

.marker-cost-and-lang {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker-open {
    height: calc(2em - 4px);
    width: calc(2em - 4px);
    border-radius: 50%;
    color: #fff;
    margin: 2px;
}

.marker-open.open {
    background-color: green;
}

.marker-open.closed {
    background-color: #730000;
}

.marker-open.cfa {
    background-color: #7C0D82;
}

.marker-open svg {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    margin-left: -30%;
    margin-top: -30%;
    width: 60%;
    height: 60%;
}

.marker-cost-and-lang img {
    height: 2em;
}

.info-div {
    width: 14em;
    /* I add 26px on the left to center it,
    by now I can't assure it works on any screen ^^' */
    margin-left: 26px;
}

.marker-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.route-btn {
    background: #7C0D82;
    border: 0.1em solid #6A3D57;
    /* width: 100%; */
    /*min-*/width: 6em;
    border-radius: 1em;
    height: 2.2em;
    color: white;
    padding: 0.25em;
    margin: 0.5em 0.25em; /* only top if one */
}

.route-btn.google {
    background-color: #fff;
    color: #7C0D82;
}

.route-btn svg {
    height: 1.5em;
}

/* Google Maps directions table */
.adp table {
    width: 100%;
}
td.adp-substep:nth-child(3) {
    word-break: break-word; /* If not, driving directions are too wide sometimes */
}