.map-container {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.map-instructions {
    width: 100%;
    max-height: 60vh;
    position: absolute;
    bottom: -60vh;
    background-color: white;
    border-top: 3px solid #7C0D82;
    z-index: 20;
    overflow-y: scroll;
    transition: bottom 1s ease 0s;
}

.map-instructions ul#dir-pan-travel-types {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #212121;
}

.map-instructions ul#dir-pan-travel-types li {
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}

.map-instructions ul#dir-pan-travel-types svg {
    max-height: 1.25em;
}

.map-instructions ul#dir-pan-travel-types li {
    border-radius: 0.5em;
    margin: 1vw;
}

.map-instructions ul#dir-pan-travel-types li.active {
    background-color: #7C0D82;
}

.map-instructions button#dir-pan-start-btn {
    width: 100%;
    background-color: #7C0D82;
    color: white;
    border: none;
    border-radius: 1em;
    padding: 0.3em;
    margin-top: 0.3em;
}

#dir-pan-travel-zero-results svg {
    max-height: 1em;
}

#dir-pan-travel-zero-results {
    margin: 1em;
    background-color: #BC0D02;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 0.5em;
    padding: 1em;
}

@keyframes error-twinkle {
    from {opacity: 0;}
    to {opacity: 1;}
}

.map-geolocation-error {
    display: none;
}

.map-geolocation-error.show {
    display: block;
    position: fixed;
    z-index: 99;
    width: 4em;
    height: 4em;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.5em;
    top: 100%;
    left: 0;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-top: -7em;
    /*Animation*/
    animation: error-twinkle 2s ease 0s infinite alternate;
}

.map-geolocation-error .fa-map-marker-alt {
    width: 2em;
    height: 2em;
    position: absolute;
    color: white;
    top: 1em;
    left: 1em;
}

.map-geolocation-error .fa-ban {
    position: absolute;
    width: 3em;
    height: 3em;
    color: red;
}

b.marker-title {
    display: block;
    text-align: center;
}

.route-btn {
    background: #7C0D82;
    border: none;
    display: block;
    width: 100%;
    min-width: 6em;
    border-radius: 1em;
    height: 2em;
    color: white;
    margin-top: 0.5em;
    padding: 0.25em;
}

.route-btn svg {
    height: 1.5em;
}

/* Google Maps directions table */
.adp table {
    width: 100%;
}