nav {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    background-color: #212121;
    color: white;
    width: 100%;
    padding: 2.5vh;
    z-index: 9999;
    box-shadow: 0 0 1em 0.2em rgba(0,0,0,0.2);
}

nav #nav-title {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    height: min-content;
    margin: 0;
    font-size: 3vmax;
    flex-grow: 1;
    padding: 0 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

nav button {
    border: none;
    color: white;
    background: #7C0D82;
    height: 5vh;
    min-height: 30px;
    width: 5vh;
    min-width: 30px;
    border-radius: 50%;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

nav .nav-home-col {
    direction: rtl;
}

nav button svg {
    fill: currentColor;
    height: 60%;
    width: 60%;
}

/***** ONLY BACK STYLE *****/
nav.only-back {
    background-color: transparent;
    box-shadow: none;
}

nav.only-back #nav-title {
    display: none;
}

nav.only-back #nav-home-btn {
    display: none;
}

nav.only-back #nav-back-btn {
    background: black;
}